---
import { useStoryblokApi } from '@storyblok/astro';
import StoryblokComponent from '@storyblok/astro/StoryblokComponent.astro';
import BaseLayout from '../layouts/BaseLayout.astro';

export async function getStaticPaths() {
  const storyblokApi = useStoryblokApi();
  const { data } = await storyblokApi.get('cdn/stories', {
    version: 'draft',
  });

  return data.stories.map((story: any) => ({
    params: { slug: story.full_slug === 'home' ? undefined : story.full_slug },
    props: { story },
  }));
}

const { story } = Astro.props;
---

<BaseLayout title={story.name}>
  <div id="main-content">
    <StoryblokComponent blok={story.content} />
  </div>
</BaseLayout>
