---
interface Props {
  fallbackText: string;
  height?: string;
  src?: string;
}

const { fallbackText, height = '2rem', src } = Astro.props;
---

{
  src ? (
    <img src={src} alt={fallbackText} style={`height: ${height}; width: auto;`} />
  ) : (
    <span>{fallbackText}</span>
  )
}
